@tailwind base;
@tailwind components;
@tailwind utilities;

.Suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 390px) {
  .Text_Header,
  .Login_Header {
    font-size: 7px !important;
  }
}
@media (max-width: 370px) {
  .Li_About {
    font-size: 8px;
    font-weight: bold;
  }
}
